name: ci
on:
  pull_request:
  push:
    branches:
    - master
  schedule:
    - cron: "0 0 * * 1"

jobs:
  check:
    name: Run checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Install Ubuntu packages
        run: sudo apt install libudev-dev
        if: runner.os == 'Linux'
      - name: Cache cargo registry
        uses: actions/cache@v1
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache cargo index
        uses: actions/cache@v1
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all
      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all

  build_test_roms:
    name: Build test ROMs
    runs-on: ubuntu-latest
    env:
      WLA_DX_REPO: vhelin/wla-dx
      WLA_DX_COMMIT: de9a0fcdd093964696d873619a9a48102affa47e
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Ubuntu packages
        run: sudo apt install cmake
      - name: Cache wla-dx
        id: cache
        uses: actions/cache@v1
        with:
          path: ~/wla-dx
          key: ${{ runner.os }}-${{ env.WLA_DX_COMMIT }}-wla-dx
      - name: Build wla-dx
        if: steps.cache.outputs.cache-hit != 'true'
        run: .github/scripts/install_wla-dx.sh
      - name: Build test ROMs
        run: make -C tests clean all
        env:
          WLA: ~/wla-dx/binaries/wla-gb
          WLALINK: ~/wla-dx/binaries/wlalink
      - name: Persist test ROMs
        uses: actions/upload-artifact@v1
        with:
          name: tests
          path: tests/build

  test:
    name: Run tests
    needs: [check, build_test_roms]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Install Ubuntu packages
        run: sudo apt install libudev-dev
        if: runner.os == 'Linux'
      - name: Cache cargo registry
        uses: actions/cache@v1
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache cargo index
        uses: actions/cache@v1
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
      - name: Unpack bootroms
        run: .github/scripts/unpack_bootroms.sh
        env:
          BOOTROM_PASSPHRASE: ${{ secrets.BOOTROM_PASSPHRASE }}
      - name: Download test ROMs
        uses: actions/download-artifact@v1
        with:
          name: tests
          path: tests/build
      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features include-bootroms --all
